# Dependencies
node_modules/

# Environment variables (Keep your secrets safe!)
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server-*.log

# Runtime uploads
uploads/

# OS metadata
.DS_Store
Thumbs.db
